main {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 70vh;
}

main #background {
    position: absolute;
    inset: 0;
    z-index: 0;
}
main div img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    filter: brightness(.75);
}
.login {
    position: relative;
    z-index: 1;
    background-color: white;

    border-radius: 8px;
    box-shadow:0 18px 30px rgba(0,0,0,.35);
    border: 1px solid var(--dark-sage);

    width: 100%;
    max-width: 420px;
    margin: 0 16px;
    padding: 24px;
}

label {
    display: block;
}
input {
    width: 100%;
    border: 1px solid var(--dark-sage);
    border-radius: 2px;
    outline: none;
    padding: 2px 12px;
    margin: 12px 0;
}
input:focus {
    border-color: var(--light-sage);
}
main button {
    width: 100%;
    border: var(--dark-sage);
    border-radius: 2px;
    background: var(--light-sage);
    color: white;
    cursor: pointer;
    margin: 4px;
    padding: 3px;
}

main a {
    color: var(--dark-sage);
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.error {
    color: #b00020;
    margin: 0 0 10px 0;
}

// MOBILE VIEW ------------------------------------------------
@media (max-width: 900px) {
  .login {
    max-width: none;
    padding: 20px;
    margin: 0 14px;
  }
}