<main>
    <section class="card">
        <h1>Account</h1>
        <p>Overview and Editing of your Profile Data.</p>

        <p class="error" *ngIf="error">{{ error }}</p>
        <div class="loading" *ngIf="isLoading">Loading...</div>

        <ng-container *ngIf="!isLoading && profile as p">
            <div class="list">
                <!-- USERNAME -->
                <div class="row">
                    <div class="row__label">Username</div>
                    <div class="row__value">{{ p.username }}</div>
                </div>
                <!-- NAME -->
                <div class="row">
                    <div class="row__label">Name</div>

                    <div class="row__value" *ngIf="editField !== 'name'">{{ p.name }}</div>

                    <div class="row__edit" *ngIf="editField === 'name'">
                        <input type="text" [(ngModel)]="editName" autocomplete="name" />
                    </div>

                    <div class="row__actions">
                        <button class="btn__ghost" *ngIf="editField !== 'name'" (click)="startEdit('name')">
                            Edit
                        </button>

                        <ng-container *ngIf="editField === 'name'">
                        <button (click)="saveName()" [disabled]="savingField === 'name'">
                            Save
                        </button>
                        <button class="btn__ghost" (click)="cancelEdit()" [disabled]="savingField === 'name'">
                            Cancel
                        </button>
                        </ng-container>
                    </div>
                </div>
                <!-- ROLE -->
                <div class="row">
                    <div class="row__label">Role</div>
                    <div class="row__value">{{ p.role }}</div>
                </div>
                <!-- E-MAIL -->
                <div class="row">
                    <div class="row__label">E-Mail</div>

                    <div class="row__value" *ngIf="editField !== 'email'">{{ p.email }}</div>

                    <div class="row__edit" *ngIf="editField === 'email'">
                        <input type="email" [(ngModel)]="editEmail" autocomplete="email" />
                    </div>

                    <div class="row__actions">
                        <button class="btn__ghost" *ngIf="editField !== 'email'" (click)="startEdit('email')">
                            Edit
                        </button>

                        <ng-container *ngIf="editField === 'email'">
                        <button (click)="saveEmail()" [disabled]="savingField === 'email'">
                            Save
                        </button>
                        <button class="btn__ghost" (click)="cancelEdit()" [disabled]="savingField === 'email'">
                            Cancel
                        </button>
                        </ng-container>
                    </div>
                </div>
                <!-- PASSWORD -->
                <div class="row">
                    <div class="row__label">Passwort</div>

                    <div class="row__value" *ngIf="editField !== 'password'">Passwort</div>

                    <div class="row__edit" *ngIf="editField === 'password'">
                        <div class="pw">
                        <input type="password" placeholder="Neues Passwort" [(ngModel)]="newPassword" autocomplete="new-password" />
                        <input type="password" placeholder="Wiederholen" [(ngModel)]="newPasswordRepeat" autocomplete="new-password" />
                        </div>
                    </div>

                    <div class="row__actions">
                        <button class="btn__ghost" *ngIf="editField !== 'password'" (click)="startEdit('password')">
                            Edit
                        </button>

                        <ng-container *ngIf="editField === 'password'">
                        <button (click)="savePassword()" [disabled]="savingField === 'password'">
                            Save
                        </button>
                        <button class="btn__ghost" (click)="cancelEdit()" [disabled]="savingField === 'password'">
                            Cancel
                        </button>
                        </ng-container>
                    </div>
                </div>
                <!-- CREATED ON -->
                <div class="row">
                    <div class="row__label">Created on</div>
                    <div class="row__value">{{ p.createdOn | date:'mediumDate' }}</div>
                </div>
            </div>
        </ng-container>
    </section>
</main>