<footer>
  <div class="footer_left">
    <p id="company_name">Leaf & Load</p>

    <div class="social" aria-label="Social Links">
      <a href="https://www.youtube.com/" rel="noopener" target="_blank"><svg viewBox="0 0 24 24" aria-hidden="true"><path d="M13 22v-8h3l1-4h-4V7c0-1.1.3-2 2-2h2V1h-3c-3 0-5 2-5 5v4H8v4h3v8h2z"/></svg></a>
      <a href="https://www.instagram.com/" rel="noopener" target="_blank"><svg viewBox="0 0 24 24" aria-hidden="true"><path d="M7 2h10a5 5 0 0 1 5 5v10a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5zm5 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm6.2-.7a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/></svg></a>
      <a href="https://www.facebook.com/" rel="noopener" target="_blank"><svg viewBox="0 0 24 24" aria-hidden="true"><path d="M21 8s-1-3-3-3H6C4 5 3 8 3 8s-.5 2-.5 4 .5 4 .5 4 1 3 3 3h12c2 0 3-3 3-3s.5-2 .5-4-.5-4-.5-4zM10 16V8l7 4-7 4z"/></svg></a>
    </div>
  </div>
  <div class="footer_right">
    <a routerLink="/about">About Us</a>
    <a routerLink="/impressum">Impressum & Privacy</a>
  </div>
</footer>