<header>
  <a id="logo-link" routerLink="/" aria-label="to homepage">
    <img src="./assets/logo_white.png" alt="Leaf & Load Logo" id="logo" />
  </a>

  <!-- DESKTOP NAVIGATION -->
  <nav class="nav nav--desktop" aria-label="main navigation">


    <ng-container *ngIf="state$ | async as s">
      <!-- LOGIN BUTTON -->
      <button *ngIf="!s.isLoggedIn" type="button" routerLink="/auth/login">Login</button>

      <!-- USER PROFILE with Dropdown -->
      <div *ngIf="s.isLoggedIn" class="user-dropdown">
        <button type="button" class="user-dropdown__trigger">
          {{ s.username }}
        </button>
        <div class="user-dropdown__menu">
          <a routerLink="/account" class="user-dropdown__item">My Account</a>

          <!-- OWNER LINKS -->
          <ng-container *ngIf="s.role === 'RESTAURANT_OWNER'">
            <a [routerLink]="['/restaurants', s.restaurantId]" class="user-dropdown__item">Restaurant Dashboard</a>
            <a routerLink="/orders" class="user-dropdown__item">See Orders</a>
          </ng-container>

          <!-- CUSTOMER LINKS -->
          <ng-container *ngIf="s.role === 'CUSTOMER'">
            <a routerLink="/orders" class="user-dropdown__item">Your Orders</a>
          </ng-container>

          <button type="button" class="user-dropdown__item" (click)="logout()">Logout</button>
        </div>
      </div>
    </ng-container>

    <button type="button" routerLink="/cart">Cart</button>
  </nav>

  <!-- MOBILE NAVIGATION -->
  <section>
    <button class="burger" type="button" aria-label="Open Menu" (click)="toggleMenu()">
      <span></span><span></span><span></span>
    </button>

    <div class="backdrop" *ngIf="menuOpen" (click)="closeMenu()"></div>

    <aside class="drawer" [class.drawer__open]="menuOpen" aria-label="Mobile Menu">
      <button class="drawer__close" type="button" aria-label="Close Menu" (click)="closeMenu()">X</button>

      <div class="drawer__content">


        <ng-container *ngIf="state$ | async as s">
          <a *ngIf="s.isLoggedIn && s.role === 'RESTAURANT_OWNER'" class="drawer__link" routerLink="/orders"
            (click)="closeMenu()">See Orders</a>

          <a *ngIf="s.isLoggedIn && s.role === 'RESTAURANT_OWNER'" class="drawer__link"
            [routerLink]="['/restaurants', s.restaurantId]" (click)="closeMenu()">Restaurant Dashboard</a>

          <a *ngIf="!s.isLoggedIn" class="drawer__link" routerLink="/auth/login" (click)="closeMenu()">Login</a>

          <a *ngIf="s.isLoggedIn" class="drawer__link" routerLink="/account" (click)="closeMenu()">{{ s.username }}</a>

          <button *ngIf="s.isLoggedIn" class="drawer__link drawer__logout" type="button"
            (click)="logout(); closeMenu()">Logout</button>
        </ng-container>

        <a class="drawer__link" routerLink="/cart" (click)="closeMenu()">Cart</a>
      </div>
    </aside>
  </section>
</header>