<header>
    <a routerLink="/" aria-label="to homepage">
        <img src="./assets/logo_white.png" alt="Leaf & Load Logo" id="logo"/>
    </a>

    <nav aria-label="main navigation">
      <!-- OWNER BUTTON-->
       <ng-container *ngIf="state$ | async as s">
        <button
          *ngIf="s.isLoggedIn && s.role === 'owner'"
          type="button"
          routerLink="/owner/dashboard"
        >Restaurant Dashboard</button>
       </ng-container>

      <select id="region" name="region" [(ngModel)]="region">
        <option [ngValue]="null" disabled>Select Region</option>
        <option value="klagenfurt">Klagenfurt</option>              <!-- für jetzt, sollte aus der datenbank kommen!!!! -->
      </select>

      <ng-container *ngIf="state$ | async as s">
        <!-- LOGIN BUTTON-->
        <button
          *ngIf="!s.isLoggedIn"
          type="button"
          routerLink="/auth/login"
        >Login</button>

        <!-- USER PROFILE-->
        <button
          *ngIf="s.isLoggedIn"
          type="button"
          routerLink="/account"
        >{{ s.displayName }}</button>
      </ng-container>

      <button type="button" routerLink="/cart">Cart</button>
    </nav>
</header>